
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
}

/* Root */
:root {
 --color-brand-light: #819B57;
 --color-brand-dark: #465929;
 --color-primery-light: #FAF4EA;
 --color-primery-dark: #31261A;
 --color-secondary-brown: #A18268;
 --color-secondary-milk: #CFCFBC;
}

/* Base */
body {
    color: var(--color-primery-dark);
    font-family: Poppins , sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

.addres {
    font-style: normal;
}

ul {
    list-style-type: none;
}

/* Button */
.button {
    color: var(--color-primery-light);
    background-color: var(--color-brand-light);
    border: 2px solid var(--color-brand-light);
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

.button:hover{
    color: var(--color-brand-dark);
    background-color: transparent;
}

/* Link */
.link {
color: var(--color-primery-light);
text-decoration: none;
}

.link:hover{
    color: var(--color-brand-light);
    font-weight: 600;
}

/* Hero section */
.hero-title {
    color: var(--color-primery-light);
    text-align: center;
    font-size: 128px;
    font-weight: 900;
}

.hero-title .accent {
    color: var(--color-brand-light);
}

/* Advantages section */
.advantages-list {
    color: var(--color-primery-light);
    background-color: var(--color-brand-light);
}

.advantages-item {
    font-size: 20px;
    font-weight: 300;
}

/* Sections mein */
.section-title {
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
}

.section-title .accent {
    color: var(--color-brand-dark);
}

/* Traditions section */
.traditions-text span{
    color: var(--color-brand-light);
    font-weight: 600;
    
}

.traditions-text .brand-uppercase {
    text-transform: uppercase;
}

/* Chef section */
.chef-title {
    font-size: 40px;
    font-weight: 600;
}

/* Format section */
.format-title {
    font-size: 24px;
    font-weight: 600;
}

.format-text {
    font-size: 14px;
    font-weight: 300;
}

/* Footer */
.addres-link {
    color: var(--color-primery-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.addres-link:hover {
    color: var(--color-brand-light);
}

.addres-copyright {
    color: var(--color-secondary-brown);
        font-size: 14px;
}